$green: #BAFF8C;
$black: #000;
$purple: #7552F2;


body {
  width: 100%;
  background-color: $purple;
}
    .jumbotron {
      background-color: $green;
      border: 1px solid black;
      padding: 40px 80px;
    h1 {
      color: white;
      text-align: center;
      text-shadow: 2px 2px $black;
    }
  }

  #output-name {
    font-size: 3em;
  }
